<h1>New Term</h1>

<%= form_for :term, url: terms_path do |f| %>
  <p>
    <%= f.label :english %><br>
    <%= f.text_field :english %>
  </p>

  <p>
    <%= f.label :american %><br>
    <%= f.text_field :american %>   
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>