<%= form_tag "/translate", method: :post do %>
	<p>
		From:
		<%= select_tag(:from, options_for_select(['British', 'American'], 'English')) %>
	</p>

	<p>
		To:
		<%= select_tag(:to, options_for_select(['British', 'American'], 'American')) %>
	</p>

	<%= label_tag :source, "Source" %>
	<%= text_area_tag :source %>
	<%= submit_tag "Translate" %>
<% end %>